@model IEnumerable<MVC_LMS.Models.Student_Progress>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Certificate</h2>


<table class="table" style="background-color:mistyrose" border="2px">
    <tr style="border:solid">
        <th>
            @Html.DisplayNameFor(model => model.UserID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prog_status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Test_scores)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Certi_status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    if (Session["username"].ToString().Equals(item.UserName))
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.UserID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CourseID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Prog_status)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Test_scores)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Certi_status)
    </td>
    <td>
        @Html.ActionLink("Generate Certficate", "Edit", new { id = item.CourseID }) |

    </td>
</tr>
    }
}

</table>
